.offerHelp {
  padding: 1rem 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f7fa;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.1rem;
  color: #7f8c8d;
  text-align: center;
}

@media (max-width: 639px) {
  .offerHelp {
    padding: 1rem 0;
  }
}

.help-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8rem;
  padding:0 2rem;
  width: 100%;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 639px) {
  .help-grid {
    padding: 0 1rem;
    gap: 1.5rem;
  }

  .h1 {
    font-size: 2rem;
  }

  .p {
    font-size: 1rem;
  }
}
